/* shared styles */
*{
    font-family: work;
}
.section-title{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 2.8rem;
    font-style: normal;
}
.gray{
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 230px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center; /* This is to align paragraph and list together */
}
nav>ul{
    display: flex;
    text-decoration: none;
}
nav li{
    margin-right: 25px;
    list-style: none;
}
a{
    text-decoration: none;
}

nav>ul>li{
    color: var(--Dark-02, #424242);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 500;
}
/* section title   nicherta eta */
.ban-head{
    color: var(--Dark-01, #131313);
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 700;
}
.ban-para{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: Work Sans;
    font-size: 1rem;
    font-weight: 400;
}
.btn-prime{
    width: 180px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: .5rem;
    background: #FF900E;
    padding: 20px 25px;
    border: 0px;
    /* margin: 0px 870px; */
    margin-bottom: 3.12rem;
    cursor: pointer;
}
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner img{
    margin-top: 20px;
    width: 100%;
}

/* main styles */
main{
    max-width: 1440px;
    margin: 80px auto;
}
/* team section */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding: 0 70px;
    /* border: solid red 5px; */
}
.teams-title{
    max-width: 468px;
    color: var(--Dark-03, #727272);
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 25px;
    /* border: solid red 5px; */
}
.black{
    color: var(--Dark-01, #131313);
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 700;
}
.orange{
    color: #FF900E;
    font-family: "Work Sans";
    font-size: 45px;
    font-weight: 700;
}
/* facts-section */
.fact-head{
    text-align: left;
}
.fact-des{
    max-width: 542px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.2rem;
    color: #727272;
}

.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
}

/* sponser style */

.sponser-para{
    max-width: 542px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}
.sponsors-img-container img{
    width: 165px;
}

/* features section */
.features{
    display: flex;
    margin-top: 130px;
    gap: 120px;
}
.feature-content{
    justify-content: center;
}

.feature-content .card{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.feature-img img{
    height: 90%;
    margin-left: 90px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 340px;
    padding: 40px; 
    text-align: center; 
    position: relative;
    bottom: 100px;
}
.ten-years-badge h2{
    font-size: 4rem;
    font-family: "Work Sans";
    margin: 0px;
}
.ten-years-badge p{
    color: #FFF;
    font-family: "Work Sans";
    font-size: 1.5rem;
    margin: 2px;
}
/* responsive style */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav>ul, nav, .teams-container, .facts-card-container, .features, .sponsors-img-container{
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .facts-card-container{
        gap: 20px;
    }
    .ten-years-badge{
        position: static;
        width: 300px;/* eta deya hoise jate mobile device e side e jaite kono somossa na hy */
    }
}
/* responsive for tab */
@media screen and (min-width:576px) and (max-width: 960px) {

    header{
        padding: 20px;
    }
    nav>ul, nav, .teams-container, .features{
        flex-direction: column;
    }
}